.like-block {
    width: 32rem;
    height: 32rem;
    padding: 8rem;
    border-radius: 8rem;
    background: var(--glass-blur-gradient);
    display: flex;
    align-items: center;
    justify-content: center;
}
