.like-block {
    max-width: 32rem;
    max-height: 32rem;
    padding: 8rem;
    border-radius: 8rem;
    background: var(--glass-blur-gradient);
    display: flex;
    justify-content: center;
    align-items: center;
}
