:root {
	--font-family: "Poppins", sans-serif;

	--transition: all .2s ease-in-out;

	--purple: #6100c2;
	--light-purple: #7900c2;
	--gray: #969696;
	--white: #fff;
	--black: #000;
	--dark: conic-gradient(from -1.54deg at 28.99% 107.28%, #191817 0deg, #37312A 175.51deg, #191817 342.49deg, #191817 360deg);
	--glass-blur-gradient: linear-gradient(90.01deg, rgba(255, 255, 255, 0.62) -9.39%, rgba(255, 255, 255, 0.78) 106.21%);
}