.trending-page {
	.trending {
		padding: 32rem;
	
		@include desktop-small {
			padding: 20rem;
		}
	
		&__title {
			font-weight: 600;
			font-size: 20px;
			color: var(--white);
			margin-bottom: 16rem;
		}
	
		&__list {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr 1fr;
			gap: 24rem;
	
			@include desktop-small {
				grid-template-columns: repeat(auto-fit, minmax(200rem, 1fr));
				gap: 18rem;
			}
			@include mobile {
				display: flex;
				justify-content: space-between;
				align-items: center;
				flex-wrap: wrap;
				gap: 15rem;
			}

			& > div {
				@include mobile {
					flex: 0 0 calc((100% - 15rem) / 2);
				}
			}
		}
	
	}
	
	.is-active-trend-film {
		opacity: 0.3;
	}
}


