.sidebar {
    padding: 40rem;
    background: #21201E;
    height: 100%;
    width: 274rem;
    min-width: 20%;
    box-shadow: 2px 0px 90px rgba(97, 0, 194, 0.4);

    &-logo {
        margin-bottom: 58rem;
    }

    &-menu {
        &__main {
            margin-bottom: 122rem;
        }

        &__social {
            margin-bottom: 257rem;
        }

        &__settings {

        }
    }
}

.menu-item {
    display: flex;
    align-items: center;
    gap: 12rem;
    margin-bottom: 35rem;
    font-weight: 400;
    font-size: 16rem;
    line-height: 150%;
    color: var(--white);
    opacity: 0.8;

    &:not(.is-active):hover {
        opacity: 1;
        font-weight: 500;
    }
}

.is-active {
    font-weight: 700;
    opacity: 1;
}