.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40rem 42rem 65rem 32rem;

    .header-menu {
        display: flex;
        align-items: center;
        gap: 32rem;

        &__link {
            font-weight: 500;
            font-size: 16rem;
            line-height: 112%;
            color: var(--white);
        }
    }

    .header-info {
        display: flex;
        align-items: center;
        gap: 24rem;

        .search-icon {

        }

        .bell-icon {

        }

        &__user {
            display: flex;
            align-items: center;
            gap: 8rem;

            .user-icon {
                display: flex;
            }
        }
    }
} 